html {
  font-family: Merriweather, serif;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: bold;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d05c2e;
  margin: 0;
  list-style: none;
}

h1 {
  color: #fff;
  font-size: 2rem;
}

img {
  width: 40px;
}

ul .linkssection {
  border: 1px solid #a63f38;
  margin: 0;
  width: 33.3333%;
}

a {
  display: block;
  font-size: 1.125rem;
  text-decoration: none;
  color: #fff;
  padding: .4rem 0;
  text-align: center;
}

a:hover {
  background-color: #a63f38;
}
