html {
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d05c2e;
}

h1 {
  color: #fff;
  font-size: 2rem;
}

img {
  width: 40px;
}

}
div a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #fff;
}

.linkssection div {
  justify-content: center;
  align-items: stretch;
  padding: .4rem 0;
  border: 1px solid #a63f38;
  margin: 0;
  width: 33.33333%;
}

div a:hover{
  background-color: #a63f38;
}
